@charset "utf-8";
@import "~bulma/bulma";

/* Core variables */
@import "base/vars";

/* CSS Reset */
@import "base/reset";

/* Fonts */
@import "base/fonts";

/* Mixins, helpers and functions */
@import "base/mixins";

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: $background;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.card {
  box-sizing: content-box;
  border: 10px solid $grey-light;
  width: 500px;
}

.card-header {
  background-color: $light;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 5px;
}

.card .content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
}
